<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
      <strong>
        Sermon Semanal
      </strong>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#/home"><i class="fa fa-dashboard"></i> <em>Inicio</em></a></li>
        <li><a href="#/sermonsemanal"><em>Listado Sermones</em></a></li>
    </ol>
</section><br>


<section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box box-info">
            <div class="box-header">
              <h3 class="box-title">Listado de Sermones</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
				<div class="dataTables_wrapper dt-bootstrap">
					<div class="row">
						<div class="col-lg-8 col-md-8 col-xs-8">
							
						</div>
						<div class="col-lg-4 col-md-4 col-xs-4 text-rigth">
								<form action="" method="POST" role="form">
									<div class="input-group margin">
						                <input type="text" class="form-control" id="" ng-model="search" ng-change="searchTitle()" placeholder="Busqueda por titulo...">
					                    <span class="input-group-btn">
					                      <button class="btn btn-info btn-flat" type="button"><i class="fa fa-search"></i></button>
					                    </span>
					              	</div>
								</form>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<table class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                				<thead>
									<th>Título</th>
									<th>Fecha</th>
									<th>Operaciones</th>
                				</thead>
                				<tbody>
									<tr ng-repeat="prayer in posts" class="odd">
										<td>{{prayer.title}}</td>
										<td>{{prayer.date | changeDate: prayer.date}}</td>
										<td>
											<a class="btn btn-primary btn-md" ng-href="#/sermonsemanal/view/{{prayer.id}}"><i class="fa fa-search"></i></a>
		                    				<a class="btn btn-success btn-md" href="#/sermonsemanal/editar/{{prayer.id}}"><i class="fa fa-pencil"></i></a>
                      						<a class="btn btn-danger btn-md" ng-click="removePrayer(prayer.id)"><i class="fa fa-trash"></i></a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-5">
						</div>
						<div class="col-sm-7">
							<div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
								<posts-pagination></posts-pagination>
							</div>
						</div>
					</div>
				</div>
            </div>
            <!-- /.box-body -->
        	</div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
</section>