<section class="content-header">
      <!-- <h1>
        Subir noticia
      </h1> -->
      <ol class="breadcrumb">
        <li><a ng-href="#/home"><i class="fa fa-dashboard"></i><em>Inicio</em></a></li>
        <li><a ng-href="#/sermonsemanal"><em>Sermón Semanal</em></a></li>
        <li><a ng-href="#/sermonsemanal/view/{{sermonsemanal.id}}"><em>{{sermonsemanal.title}}</em></a></li>
      </ol>
</section><br>

<!-- Main content -->
<section class="content">
    <div class="row" ng-include="'forms/viewsPost.html'">

    </div>
</section>
<!-- /.content -->
