<p ng-show="$parent.settings.success" class="alert alert-success">{{$parent.settings.success}}</p>
<p ng-show="$parent.settings.errors" class="alert alert-danger">{{$parent.settings.errors}}</p>

<div class="form-group">
    <label for="title">Titulo</label>
    <input type="text" id="title" ng-model="prayer.title" class="form-control" name="title" required=""  ng-maxlength="255">
    <span class="messagesError" ng-show="dailyPrayerForm.name.$invalid && !dailyPrayerForm.title.$pristine"> 
          <span ng-show="dailyPrayerForm.title.$error.required">El título es obligatorio.</span>
          <span ng-show="dailyPrayerForm.title.$error.maxlength">El título no debe superar los 255 caracteres.</span>
    </span>
</div>

<div class="form-group" ng-if="prayer.daily">
    <label for="date">Fecha</label>
    <p class="input-group">
      <input
        type="text"
        class="form-control"
        readonly
        uib-datepicker-popup="d-MM-yyyy"
        ng-model="prayer.date"
        is-open="popup1.opened"
        close-text="Close" >
      <span class="input-group-btn">
        <button
          type="button"
          class="btn btn-default"
          ng-click="open1()">
          <i class="fa fa-calendar"></i>
        </button>
      </span>
    </p>
</div>

<div class="form-group">
    <label for="title">Descrípción</label>
    <textarea id="description"  ui-tinymce="tinymceOptions" rows="10" cols="80" ng-model="prayer.description" name="description" required ></textarea>
    <span class="messagesError" ng-show="dailyPrayerForm.$invalid && !dailyPrayerForm.title.$pristine"> 
      <span ng-show="dailyPrayerForm.description.$error.required">La descripción es obligatoria.</span>
    </span>
</div>
<div class="form-group">
    <label for="filesPrayer">Seleccione imagenes </label>   <br>
    <div id="imagesPrayer" class="btn btn-primary" ngf-select ng-model="prayer.images" ngf-multiple="true" ngf-accept="'image/*'" ngf-keep="'distinct'"  ngf-validate="{size: {min: 10, max: '20MB'}, width: {min: 100, max:10000}" name="imagesPrayer">Seleccionar</div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <ul class="list-inline">
            <li ng-repeat="f in prayer.images">
                <div class="col-lg-12 col-md-12 imgClass" >
                    <img ngf-src="!f.$error && f"  alt='no se cargar' width='200' height='200'>
                    <div class="hover-btn-img">
                        <button class="btn btn-danger btn-sm" ng-click="removeItem($index)" ><i class="fa fa-times fa-fw"></i></button>
                    </div>
                </div>

            </li>
        </ul>
    </div>
</div>
<div class="row" ng-if="prayer.edit">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <ul class="list-inline">
            <li ng-repeat="im in prayer.imagesCreted">
                <div >
                    <div class="col-lg-12 col-md-12 imgClass" id="img_{{im.id}}">
                        <img ngf-src="!im.$error && im.url" alt='no se cargar' width='200' height='200'>
                        <div class="hover-btn-img">
                            <button class="btn btn-danger btn-sm" ng-click="deleteImage(im.id)" ><i class="fa fa-times fa-fw"></i></button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="form-group" ng-if="news">
    <label for="filesPrayer">Seleccione videos </label>
    <!-- <addvideos></addvideos> -->
    <div class="input-group"><input type="text" class="form-control" id="video_link" ng-model="video"><span class="input-group-addon" ng-click="addVideo()"><i class='fa fa-plus-square'></i></span></div>
    <div id="video_content" class="col-md-12"></div>
    <div id="videos_edit" ng-if="news_edit" class="col-md-12">
        <div ng-repeat="video in prayer.videos">
            <div class="col-md-6 videoClass"  id="v_{{video.id}}">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="{{video.url}}" frameborder="0">
                    </iframe>
                </div>
                <div class="hover-btn">
                    <button type="button" class="btn btn-danger" data-dismiss="alert" ng-click="deleteVideoEdit(video.id)" ><i class="fa fa-times" ></i></button>
                </div><br>
            </div>
        </div>
    </div>
</div>
<div class="box-footer text-right">
    <button type="submit" class="btn btn-primary" ng-click="submit(prayer)" ng-disabled="dailyPrayerForm.$invalid">{{$parent.settings.action}}</button>
    <a class="btn btn-default" ng-href="#/{{$parent.settings.home}}">Cancelar</a>
</div>
