        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="box-body">
                <div class="box box-info">
                    <div class="page-header">
                        <div class="col-md-offset-1">
                            <h2><small>{{$parent.news.title}}</small></h2>    
                        </div>
                    </div>
                    <!-- <div class="box-header">
                        <h3 class="box-title">{{news.title}}</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body pad">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 border-box" id="newsDescription">
                                
                            </div>
                        </div><br>
                        <div class="row"><!-- Slide de imagenes-->
                            <div class="col-md-8 col-md-offset-2">
                                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                                  <!-- Wrapper for slides -->
                                  <div class="carousel-inner" role="listbox">
                                    <div class="item" ng-class="{'active':$index == 0}" ng-repeat="img in news.images">
                                      <img src="http://192.168.0.157:90/{{img.url}}" alt="">
                                      <div class="carousel-caption">
                                      </div>
                                    </div>
                                  </div>

                                  <!-- Controls-->
                                  <span class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                  </span>
                                  <span class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span> 
                                  </span>
                                </div>
                            </div>
                        </div><br> 
                        <div ng-if="$parent.band">              
                            <div class="row"><!-- Seccion de videos-->
                                <div class="col-md-12">
                                    <div class="col-md-6 col-md-offset-3" ng-repeat="video in news.videos">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe class="embed-responsive-item" src="{{video.url}}" frameborder="0">
                                            </iframe>
                                        </div><br>
                                    </div>
                                </div><br>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer text-right">
                        <a class="btn btn-primary" ng-href="#/{{$parent.posts}}/editar/{{$parent.news.id}}" >Editar</a>
                        <a class="btn btn-primary" ng-href="#/{{$parent.posts}}/nueva">Crear Nueva</a>
                        <!-- <a  class="btn btn-primary" ng-href="#/{{$parent.posts}}/view/{{$parent.news.id}}">Borrar</a> -->
                        <a class="btn btn-default" ng-href="#/{{$parent.posts}}">Cancelar</a>
                    </div>
                </div>
                <!-- /.box -->                           
            </div>
            <!-- /.col-->
        </div>
        <!-- ./row -->