<div class="container-fluid" ng-init="reloadApp()">
    <h1>MENÚ PRINCIPAL</h1>
    <div class="col-md-12" role="main">
        <div class="row-fluid">
            <div class="col-xs-12  col-sm-6  col-md-6">
              <a class="btn-lg" ng-href="#/noticias/nueva" >
                <span style="text-align: center;display: block">
                    <i class="fa fa-newspaper-o fa-5x fa-border" style=""></i>                        
                </span>
                <br> 
                <p style="color:#000000; font-size: 25px; text-align: center">NOTICIAS</p>
              </a>
            </div>

            <div class="col-xs-12  col-sm-6  col-md-6">
              <a class="btn-lg" ng-href="#/eventos" >
                <span style="text-align: center;display: block">
                    <i class="fa fa-calendar fa-5x fa-border" style=""></i>
                </span>
                <br> <p style="color:#000000;font-size: 25px; text-align: center">EVENTOS</p>
              </a>
            </div>  
        </div>
    </div>
    <div class="col-md-12" role="main">
        <div class="row">
            
            <div class="col-xs-12  col-sm-6  col-md-6">
              <a class="btn-lg" href="#/reflexiondiaria/nueva">
                <span style="text-align: center;display: block">
                    <i class="fa fa-book fa-5x fa-border" style=""></i>
                </span>
                <br> 
                <p style="color:#000000;font-size: 25px; text-align: center">LECTURA DIARIA</p>
              </a>
            </div>

            <div class="col-xs-12  col-sm-6 col-md-6 ">
              <a ng-href="#/sermonsemanal/nueva" class="btn-lg">
                <span style="text-align: center;display: block">
                    <i class="fa fa-commenting-o fa-5x fa-border" style=""></i>                        
                </span>
                <br>
                <p style="color:#000000;font-size: 25px; text-align: center">SERMON SEMANAL</p>
              </a>
            </div>
        </div>
    </div>
</div>
