 <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Calendar
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#/home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Calendario</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content" ng-init="loadEvents()">
      <div class="box box-primary">
          <div class="box-body">
            <section id='formEvent'>
              <form name="eventForm" id="eventForm">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-xs-12">
                    <h3 id="event-editor">
                      Agregar un evento       
                      <div class="clearfix"></div>
                    </h3>
                    <div class="row">
                      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="row">
                          <div class="col-lg-6 col-md-6 text-center">
                            <div class="form-group" ng-class="{'has-error':eventForm.title.$invalid && eventForm.title.$touched}">
                              <label for="">Título</label>
                              <input type="text" class="form-control" ng-model="newEvent.title" name='title' id='title' required>
                              <span ng-if="eventForm.title.$invalid && eventForm.title.$touched" class="help-block">El título es requerido.</span>
                            </div>
                          </div>
                          <div class="col-lg-6 col-md-6 text-center">
                            <div class="form-group">
                              <label for="">Etiquetas</label>
                              <tags-input ng-model="newEvent.tags" min-tags="1" placeholder="Agregar etiquetas">
                                <auto-complete source="loadTags($query)"></auto-complete>
                              </tags-input>
                            </div>
                          </div>    
                        </div>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group" ng-class="{'has-error':eventForm.description.$invalid && eventForm.description.$touched}">
                              <label for="">Descripción</label>
                              <textarea class="form-control" ng-model="newEvent.description" name='description' id='description' rows="4" cols="20" required></textarea>
                              <span ng-if="eventForm.description.$invalid && eventForm.description.$touched" class="help-block">La descripción es requerida.</span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="row">
                          <div class="col-lg-6 col-md-6 text-center">
                            <label for="">Fecha de inicio:</label>
                            <p class="input-group">
                              <input
                                type="text"
                                class="form-control"
                                readonly
                                uib-datepicker-popup="d-MM-yyyy"
                                ng-model="newEvent.startsAt"
                                is-open="popup1.opened"
                                close-text="Close" >
                              <span class="input-group-btn">
                                <button
                                  type="button"
                                  class="btn btn-default"
                                  ng-click="open1()">
                                  <i class="fa fa-calendar"></i>
                                </button>
                              </span>
                            </p>
                            <uib-timepicker
                              ng-model="newEvent.startsAt"
                              hour-step="1"
                              minute-step="15"
                              show-meridian="true">
                            </uib-timepicker>
                          </div>
                          <div class="col-lg-6 col-md-6 text-center">
                            <label for="">Fecha de fin:</label> 
                            <p class="input-group" >
                              <input
                                type="text"
                                class="form-control"
                                readonly
                                uib-datepicker-popup="d-MM-yyyy"
                                ng-model="newEvent.endsAt"
                                is-open="popup2.opened"
                                close-text="Close">
                              <span class="input-group-btn">
                                <button
                                  type="button"
                                  class="btn btn-default"
                                  ng-click="open2()">
                                  <i class="fa fa-calendar"></i>
                                </button>
                              </span>
                            </p>
                            <uib-timepicker
                              ng-model="newEvent.endsAt"
                              hour-step="1"
                              minute-step="15"
                              show-meridian="true">
                            </uib-timepicker>             
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="row">
                          <div class="col-lg-2 col-md-2 text-center">
                            <br>
                            <button ng-if="!newEvent.editable"
                              class="btn btn-danger"
                              ng-click="addEvent()">
                              <i class="fa fa-plus-square"></i>
                            </button>
                            <button ng-if="newEvent.editable"
                              class="btn btn-warning"
                              ng-click="editEvent()">
                              <i class="fa fa-pencil-square"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>         
                  </div>
                </div>
              </form>
            </section>
            <div class="row">
              <!-- /.col -->
              <div class="col-lg-12 col-md-12 col-xs-12">
                  <h2 class="text-center">{{ calendarTitle }}</h2>
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-6 text-center">
                      <div class="btn-group">
                        <button
                          class="btn btn-primary"
                          mwl-date-modifier
                          date="viewDate"
                          decrement="calendarView">
                          Anterior
                        </button>
                        <button
                          class="btn btn-default"
                          mwl-date-modifier
                          date="viewDate"
                          set-to-today>
                          Hoy
                        </button>
                        <button
                          class="btn btn-primary"
                          mwl-date-modifier
                          date="viewDate"
                          increment="calendarView">
                          Siguiente
                        </button>
                      </div>
                    </div>
                    <br class="visible-xs visible-sm">
                    <div class="col-lg-6 col-md-6 col-xs-6 text-center">
                      <div class="btn-group">
                        <label class="btn btn-primary" ng-model="calendarView" uib-btn-radio="'year'">Año</label>
                        <label class="btn btn-primary" ng-model="calendarView" uib-btn-radio="'month'">Mes</label>
                        <label class="btn btn-primary" ng-model="calendarView" uib-btn-radio="'week'">Semana</label>
                        <label class="btn btn-primary" ng-model="calendarView" uib-btn-radio="'day'">Día</label>
                      </div>
                    </div>
                  </div>
                  <br>
                    <!-- THE CALENDAR -->
                  <section id='calendar'>
                    <mwl-calendar
                        events="events"
                        view="calendarView"
                        view-date="viewDate"
                        view-title="calendarTitle"
                        cell-is-open="isCellOpen"
                        on-view-change-click="viewChangeClicked(calendarDate, calendarNextView)"
                        on-event-times-changed="eventDropped(calendarEvent, calendarNewEventStart, calendarNewEventEnd)"
                        edit-event-html="'<i class=\'fa fa-pencil\'></i>'"
                        delete-event-html="'<i class=\'fa fa-remove\'></i>'"
                        on-edit-event-click="eventEdited(calendarEvent)"
                        on-delete-event-click="eventDeleted(calendarEvent)">
                    </mwl-calendar>
                  </section>
              </div>
                  <!-- /.box-body -->
            </div>
          <!-- /. box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content 
<div ng-if="!bandLib">
  <script src="assets/dist/js/app.js"></script>
</div> 