<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Noticias
    </h1>
    <ol class="breadcrumb">
        <li><a href="#/home"><i class="fa fa-dashboard"></i><em>Inicio</em></a></li>
        <li><a href="#/noticias"><em>Noticias</em></a></li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="box-body">
                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title">Editar Noticia</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body pad">
                        <form name="dailyPrayerForm" ng-include="'forms/daily_prayer.html'" novalidate>
                        </form>
                    </div>
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col-->
        </div>
        <!-- ./row -->
</section>
<!-- /.content -->
