<section class="content-header">
      <!-- <h1>
        Subir noticia
      </h1> -->
      <ol class="breadcrumb">
        <li><a ng-href="#/home"><i class="fa fa-dashboard"></i><em>Inicio</em></a></li>
        <li><a ng-href="#/reflexiondiaria"><em>Lecturas Diarias</em></a></li>
        <li><a ng-href="#/reflexiondiaria/view/{{news.id}}"><em>{{news.title}}</em></a></li>  
      </ol>
</section><br>

<!-- Main content -->
<section class="content">
    <div class="row" ng-include="'forms/viewsPost.html'">

    </div>
</section>
<!-- /.content -->
