<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Usuarios
    </h1>
    <ol class="breadcrumb">
        <li><a href="#/home"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li><a href="">Usuarios</a></li>       
    </ol>
</section><br>

<section class="content">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-xs-12">
			<div class="box-body">
				<div class="box box-info">
					<div class="box-header">
						<h3 class="box-title">Listado de Usuarios</h3>
					</div>
					<div class="box-body pad">
						
						<div class="row">
							<div class="col-lg-10 col-md-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-xs-offset-1">
								<table class="table table-striped table-advance table-hover" ng-table="tableParams">
									<thead>
										<th>Nombre</th>
										<th>Email</th>
										<th>Role</th>
										<th>Operaciones</th>
									</thead>
									<tbody>
										<tr ng-repeat="user in users">
											<td>{{user.name}}</td>
											<td>{{user.email}}</td>
											<td>{{user.role_id | cambiaValor: user.role_id}}</td>
											<td>
												<div class="btn-group">
			                                        <a class="btn btn-success" href="#/usuarios/editar/{{user.id}}"><i class="fa fa-pencil"></i></a>
			  
			                                        <a class="btn btn-danger deletePrayer" ng-click="removeUser(user.id)"><i class="fa fa-trash"></i></a>                                            
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							
						</div>
						<div class="row">
							<div class="col-lg-10 col-md-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-xs-offset-1">
								<posts-pagination></posts-pagination>		
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>