<div class="login-box">
    <!--<div class="login-logo">
        <img src="images/logo.svg" alt="">
    </div>-->
    <div class="login-box-body" ng-init="loadLibrary()">
        <br><br>
            <code >{{loginErrorText}}</code>
        <form>
            <div class="form-group">
                <input type="email" class="form-control input-login" placeholder="USUARIO" ng-model="user.email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control input-login" placeholder="CONTRASEÑA" ng-model="user.password">
            </div>
            <div class="row">
                
                <div class="col-lg-12 col-md-12 col-xs-12 text-right">
                    <button class="btn btn-primary" ng-click="login()">INGRESAR</button>
                </div>
            </div>
        </form>
    </div>
</div>

