<section class="content-header">
      <!-- <h1>
        Subir noticia        
      </h1> -->
      <ol class="breadcrumb">
        <li><a href="#/home"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li><a href="">Registrar Usuario</a></li>  
      </ol>
</section><br>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="box-body">
                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title">Registrar Usuario</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body pad">
                        <form name="registerForm" id="registerForm" novalidate>
                             <div class="form-group">
                                <label for="title">Nombre</label>
                                <input type="text" class="form-control" ng-model="newUser.name" name="name">
                                <span class="messagesError" ng-show="(registerForm.$invalid || registerForm.title.$touched) && $parent.settings.errors"> 
                                      <span ng-show="registerForm.name.$error.required">El nombre es ogligatorio</span>
                                </span>
                            </div>
                            <div class="form-group">
                                <label for="title">Email</label>
                                <input type="text" class="form-control"  ng-model="newUser.email" name="email">
                                <span class="messagesError" ng-show="(registerForm.$invalid || registerForm.title.$touched) && $parent.settings.errors"> 
                                      <span ng-show="registerForm.email.$error.required">El correo electronico es obligatorio</span>
                                </span>
                            </div>
                            <div class="form-group">
                                <label for="title">Contraseña</label>
                                <input type="password" class="form-control"  ng-model="newUser.password" name="password">
                                <span class="messagesError" ng-show="(registerForm.$invalid || registerForm.title.$touched) && $parent.settings.errors"> 
                                      <span ng-show="registerForm.password.$error.required">La contraseña es obligatoria</span>
                                </span>
                            </div>
                            <div class="form-group">
                                <label for="title">Rol</label>
                                <select class="form-control" ng-model="newUser.role_id">
                                    <option value=2>Usuario</option>
                                    <option value=1>Administrador</option>
                                </select>
                            </div>
                            <div class="box-footer text-right">
                                <button class="btn btn-primary" ng-click="register()" ng-disabled="registerForm.$invalid">GUARDAR</button>
                                <a class="btn btn-default" ng-href="#/home">Cancelar</a>
                            </div>
                        </form>                 
                    </div>
                </div>
                <!-- /.box -->                           
            </div>
            <!-- /.col-->
        </div>
        <!-- ./row -->
</section>
