 .messagesError {
    color: #FA787E;
  }

  .messagesOK{
    color: #21610B;
  }

  form.ng-submitted input.ng-invalid{
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  }

  form input.ng-invalid.ng-touched {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  }

  .background-login{
    background:url('../../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:50% 0%;
  }

  .background-content-wrapper{
    background-color: #ecf0f5;
  }

  .login-box-body{
    background:url('../../images/recuadro-login.svg')!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position:50% 0%!important;
  }

  .input-login{
    background: #222d32!important;
    color:#fff!important;
  }

  .videoClass{
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .hover-btn {
    position: absolute;
    right: 5%;
    top: 7%;
    display: none;
  }

  .videoClass:hover .hover-btn {
    display: block;
  }

  .hover-btn-img {
    position: absolute;
    right: 11%;
    top: 7%;
    display: none;
  }

  .imgClass:hover .hover-btn-img {
    display: block;
  }

  #videos_content{
    margin: 0 auto;
  }

  .carousel-inner > .item > img {
    margin: 0 auto;
  }
  .altura
  {
    height: 77px!important;
  }
